.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    color: #999999;
    line-height: 9px;
    font-size: 9px;
    padding-bottom: 8px;
}

.standard {
    border: none;
    border-bottom: 1px solid #3369F3;
    width: 100%;
    outline: none;
    padding: 3px 0px;
}

.filled {
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 6px 3px;
    background: #EFEFEF;
    box-sizing: border-box;
}

.filled::placeholder {
    text-align: center;
}