.filled {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
    background-color: #3369F3;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 13px;
    font-size: 13px;
}

.filled:focus {
    outline: none;
}

.text {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    color: #3369F3;
    background: none;
    border: none;
    font-size: 11px;
    line-height: 11px;
}

.text:hover {
    background: rgba(25, 118, 210, 0.04);
}

.text:focus {
    outline: none;
}
