.dialogContainer {
    width: 310px;
    border-right: 1px solid $border-color;
    padding: 10px;
    background-color: $background-dark;
    height: 100%;
    box-sizing: border-box;
}

.chatContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.chatPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.linkContainer {
    display: flex;
    justify-content: end;
    padding: 21px 0;
    gap: 8px;
    align-items: baseline;
}

.dialogList {
    margin-top: 14px;
    overflow-y: auto;
    max-height: calc(100% - 120px);
}

.emptyChat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $label-color;
    flex-grow: 1;
}

.fullChat {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 16px;
    height: 100%;
    overflow-y: auto;
}

.messageContainer {
    border-top: 1px solid $border-color;
    padding: 12px 0;
    margin: 0 12px;
}

.chatHeader {
    border-bottom: 1px solid $border-color;
    padding: 10px;

    button {
        width: 300px;
    }
}

.actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
