.dialogContainer {
    border-top: 1px solid $border-color;
    padding: 13px 0;
    display: flex;
    gap: 10px;
    background: $background-dark;
    cursor: pointer;
}

.dialogInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dialogTitle {
    color: $title-color;
    font-weight: 600;
}
