.registrationForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
    margin-top: 60px;
    margin-bottom: 75px;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleContainer {
    display: flex;
    justify-content: center;
}
